@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-image {
  position: relative;
}

.slider-image::after {
  content: "";
  position: absolute;
  top: -10%;
  left: -5%;
  height: 120%;
  width: 10%;
  background: black;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
  z-index: 0;
}

.static-image:hover {
  opacity: 0;
}

@keyframes wobble {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.icon:hover {
  animation: wobble 0.5s ease-in-out infinite;
}
